{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Now | {% block 'title' %}{% endblock %}</title>
    {% comment %} Cargar hojas de estilo {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/nav_style.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% comment %} bloque de codigo para cargar hojas de estilo desde otro HTML {% endcomment %}
    {% block 'styles' %}{% endblock %}
</head>
<body class='body'>
    {% comment %} barra de navegacion {% endcomment %}
    <header class='header'>
        {% include 'layouts/partials/nav.html' %}
    </header>
    <main class='main'>
        {% if messages %}
            {% for message in messages %}
                <div class="alert" role="alert">
                <div class="alert__container">
                    <span class="alert__message">{{message}}</span>
                    <span class='alert__close' >&times;</span> 
                </div>
                </div>
            {% endfor %}
        {% endif %}
        {% comment %} contenido de la pagina {% endcomment %}
        {% block 'content' %}
        {% endblock %}
        
    </main>
    <footer>
        {% comment %} informacion de la pagina {% endcomment %}
    </footer>
</body>
{% comment %} Cargar scripts {% endcomment %}
<script src="{% static 'js/nav_bar.js' %}"></script>
{% comment %} bloque para Cargar scripts desde otro HTML {% endcomment %}
{% block 'scripts' %}
{% endblock %}
</html>