@import url(../variables.css);

/* Carousel style */

.discover {
    margin-top: calc(1.5rem + 54px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover__container {
    position: relative;
    width: min(95%, 1050px);
    height: 42vh;
}

.move__button {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    transition: all 800ms ease-in;
    animation: scaleText 500ms infinite;
}

.move__button.left {
    top: 50%;
    left: -1%;
    transform: translate(-50%-50%);
}

.move__button.right {
    top: 50%;
    right: -1%;
    transform: translate(-50%-50%);
}

.move__button.fa-solid {
    color: var(--text-color);
    text-shadow:
        0px 0px 3px rgba(0, 0, 0),
        1px 1px 2px rgba(0, 0, 0),
        -1px -1px 2px rgba(0, 0, 0),
        1px 1px 2px rgba(0, 0, 0),
        -1px -1px 2px rgba(0, 0, 0);
}

.move__button:active {
    transform: scale(1.2);
    animation: none;
}

.carousel {
    overflow: hidden;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 1.5rem;
}

.carousel__container {
    position: relative;
    z-index: -1;
    width: calc((100% * 10));
    height: 100%;
    display: flex;
    margin-left: -100%;
}

.card {
    flex: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
}

.card__img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;
}

.card__container {
    margin: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 1rem;
    top: 70%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.8);
}

.card__title {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}

.card__overview {
    display: none;
    font-size: 1rem;
    text-align: center;
}

.play__button {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.play__button::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--accent-light-color);
    animation: pulse 1500ms ease-out infinite;
}

.play__button:active {
    width: 60px;
    height: 60px;
}

.play__button span {
    display: block;
    position: relative;
    z-index: 15;
    width: 0;
    height: 0;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-left: 22px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}


@media (hover:hover) {
    .play__button:is(:hover, :active) {
        width: 60px;
        height: 60px;
    }

    .move__button:is(:hover, :active) {
        animation: press_button 500ms ease-in-out forwards;
    }
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@keyframes scaleText {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(1.4);
    }
}

@keyframes press_button {
    0% {
        transform: scale(1.4);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* end carousel */

/* media queries */
@media only screen and (min-width: 700px) {
    .move__button {
        font-size: 1.2rem;
    }

    .card__container {
        top: 65%;
        left: 0;
        margin: 0 2rem 1rem;
    }

    .card__title {
        font-size: 1.5rem;
    }

    .card__overview {
        display: block;
    }

}

@media only screen and (min-width: 1130px) {
    .move__button.left {
        left: -4%;
    }

    .move__button.right {
        right: -4%;
    }

}