
    /* Estilo para el contenedor principal */
    div {
        margin-left: 50px;
        padding: 10px;
        
    }
    
    /* Estilo para la lista de películas */
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    /* Estilo para cada elemento de la lista */
    li {
        margin-top: 20px;
        padding: 10px;
       
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    /* Estilo para el título de la película */
    h2 {
        font-size: 45px;
        color: #f4ecec;
        margin: 0;
    }
    
    /* Estilo para la imagen de la película */
    img {
        width: 300px;
        height: auto;
        margin-top: 25px;
      
    }
    
    /* Estilo para la descripción de la película */
    p {
        font-size: 14px;
        color: #f2e6e6;
        margin:315px;
        margin-top: -399px;
    }
    
    /* Estilo para la fecha de lanzamiento de la película */
    p:last-child {
        
        margin-top: -310px;
        font-style: italic;
    }

   
   
   
   
   
   
   
   
   
   



   
   
   





